
<div class="container">
  <h2>Debt Calculator</h2>
  <p>Estimate your Expenses</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Amount</th>
        <th>Monthly Payment</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody id="debts-body">
      <% debts.each do |debt| %>
        <tr>
          <td><%= debt.type %></td>
          <td><%= number_with_precision(debt.amount, precision: 2) %></td>
          <td><%= number_with_precision(debt.monthly_payment, precision: 2) %></td>
          <td><%= number_with_precision(debt.rate, precision: 4) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>