<h3>So here is where we stand, based on your inputs you are making or loosing X month. Lets call this your "free cashflow."  If we take that amount and pay your highest interest debt that will have three great impacts on your finances<h3>

<ol>
  <li> Your debt balance comes down</li>
  <li> Your monthly interest payments get smaller</li>
  <li> Your credit score will likely improve</li>
</ol>

<br>
<p>Let us show you how this works</p>


  <table class="table">
    <tr>
      <th colspan='2' aligin='right'>Month</th>
    </tr>
    <tr>
      <td> Your Expenses Now </td>
      <td>  13400 </td>
    </tr>
    <tr>
      <td> Your Income </td>
      <td> 14500 </td>
    </tr>
    <tr>
      <td> Money Left Over </td>
      <td> 14599 </td>
    </tr>
    <tr>
      <td><hr></td>
    </tr>
    <tr>
      <td> Credit Card Debt </td>
      <td> 1234 </td>
    </tr>
  </table>
</div>