<p>
Your food expenses registered at % of your total obligations. Do you cook at home or eat out most of the time?
</p>

<p>
We are fans of cooking at home if possible given the lower costs of doing so and also the health benefits from it
</p>

<%= link_to "Strategy 4", page_path("strategy4") %>