<h3>
If lowering your expenses in credit card interest, entertainment, and food will not result in material changes to your situation we have
to look at the other side of the equation. Your income.
<h3>

<p>
We assume that you are working hard at your job and might have asked for a promotion or looked at other companies that could increase
your salary. Have you considered working an extra couple hours a week in a job that will accommodate to your time available.
We know, it's hard and you don't want to work even harder but there will highly positive rewards around the corner. Paying
down your debt and stop worrying about your financial situation. Without debt you can even start investing your money to make your
money work for you.
With the new created sharing economy there are several options that are very flexible for those people that don't have a lot of time.
Below there are number of companies that offer jobs from all skill levels that you can do at your own leasure. Even you are making
an extra 50$ dollars per month that can account to a material difference down the road.
</p>