<h3>
Lets review other areas that can help be debt free as fast as possible
We noticed your entertainment expenses are higher than usual U.S. consumer according to..
</h3>

<p>
Time to be honest, your financial future and piece of mind depends on it. From your entertainment expenses what are must and not haves?
Can you cut back on a drink at a bar, watching a movie at home instead of the movie theater, and not eating out can free up some cash
so that you can accelerate your debt repayment. Remember, small steps right now account amount to big changes in the future.
Your entertainment expenses are currently x% of you income, is there any chance you can reduce by half a percent or more?
</p>

<%= link_to "Strategy 3", page_path("strategy3") %>