<h3>
Want to speed up getting out of debt? Lets strategize as to how you can do it faster even if you don't have freecashflow or fail to cover your obligations each month
</h3>

<p>
If you have not missed any payments on your credit card debt and are in good credit standing (your FICO score does not have to be the best) we believe it's
worth calling your bank and inquiring about a personal loan.  Before doing so run a quick search for any credit unions close to you since credit unions
generally provide more favorable interest rates than a regular bank. Nonetheless, if it is through your bank or a credit union you will likely lower your rate
by a significant amount, in some cases a third or more. That will immediate free up some money that you can start using to paying down your debt
and putting your money to work for you.
</p>

<%= link_to "Strategy Two", page_path("strategy2") %>