<h3>Fill the amount of your monthly obligations (if your montly obligations vary that is ok, we are just trying to see on average what your budget looks like)</h3>

<p>It's ok to use rough estimates as long as you are being honest with yourself</p>
<%= render 'form', expense: @expense %> 
